
<%= bcrmb(' |<a href="/">Home</a>|<a href="/sttc/why_hpricot">Why Use?</a>|<a href="/demos">Demos</a>|<a href="/demos/about">About</a>') %>

<%= bcrmb(' |<a href="/sttc/contact">Contact</a>|<a href="/sttc/maillist">Mail List</a>') %>

|<a target="gg" href="http://groups.google.com/group/hpricot">Group</a>
|<a target="y" href="http://code.whytheluckystiff.net/hpricot">Hpricot By Mr _Why</a>

<%= bcrmb(' |<a href="/sttc/workbench_faq">FAQ</a>|<a href="/frgmnts">Workbench</a>|<a href="/asls/frgmnts">Workbench-RO</a>|' ) %>
