
Translations:
<div id="googletranslate">
<a target="x" href="http://translate.google.com/translate?u=http%3A%2F%2Fhpricot.com&langpair=en%7Ces&hl=en&ie=UTF-8&oe=UTF-8">Español</a><br />
<a target="x" href="http://translate.google.com/translate?u=http%3A%2F%2Fhpricot.com&langpair=en%7Czh-CN&hl=en&ie=UTF-8&oe=UTF-8">中国版</a><br />
<a target="x" href="http://translate.google.com/translate?u=http%3A%2F%2Fhpricot.com&langpair=en%7Cru&hl=en&ie=UTF-8&oe=UTF-8">Россия</a><br />
<a target="x" href="http://translate.google.com/translate?u=http%3A%2F%2Fhpricot.com&langpair=en%7Cpt&hl=en&ie=UTF-8&oe=UTF-8">Português</a><br />
<a target="x" href="http://translate.google.com/translate?u=http%3A%2F%2Fhpricot.com&langpair=en%7Cde&hl=en&ie=UTF-8&oe=UTF-8">Deutsche</a><br />
<a target="x" href="http://translate.google.com/translate?u=http%3A%2F%2Fhpricot.com&langpair=en%7Cfr&hl=en&ie=UTF-8&oe=UTF-8">Française</a><br />
<a target="x" href="http://translate.google.com/translate?u=http%3A%2F%2Fhpricot.com&langpair=en%7Cko&hl=en&ie=UTF-8&oe=UTF-8">한국말</a><br />
<a target="x" href="http://translate.google.com/translate?u=http%3A%2F%2Fhpricot.com&langpair=en%7Cja&hl=en&ie=UTF-8&oe=UTF-8">日本人</a><br />
</div>
<hr />
Built with:

<br /><a target="bw" href="http://www.gnu.org/software/emacs/">GNU Emacs</a>
<br /><a target="bw" href="http://dev.technomancy.us/wiki/arorem">Arorem</a>
<br /><a target="bw" href="http://subversion.tigris.org/">Subversion</a>
<br /><a target="bw" href="http://piston.rubyforge.org/">Piston</a>
<br /><a target="bw" href="http://www.freebsd.org">FreeBSD</a>
<br /><a target="bw" href="http://www.postgresql.org/">PostgreSQL</a>
<br /><a target="bw" href="http://api.rubyonrails.com">Rails 1.2</a>
<br /><a target="bw" href="http://rubyforge.org/projects/loginsugar/">LoginSugar</a>
<br /><a target="bw" href="http://activescaffold.com">Active Scaffold</a>
<br /><a target="bw" href="http://haml.hamptoncatlin.com/">Haml and Sass</a>
<br /><a target="bw" href="http://code.whytheluckystiff.net/hpricot/">Hpricot</a>
<br /><a target="bw" href="http://www.lighttpd.net">Lighttpd</a>
