<h2>Private Data Is What?</h2>
<a href='/'>http://ForurmGrouper.com</a> allows you to privately store information.
<p />
Suppose you want to create a category named "jobs".
<p />
And then you create a group named "jobs_I_want".
<p />
And then you add the forum "oracle.jobs.hawaii" to that group.
<p />
You may do this privately.
<p />
Categories, Groups, and Forums all come with a "Private" flag.
<p />
If you set Private = true, then only you can see the data.
<p />


