<h2>Public Data Is What?</h2>
<a href='/'>http://ForurmGrouper.com</a> has a user named "public" who owns some
<a href='/asp/gcategs'>Categories</a>,
<a href='/asp/grps'>Groups</a>,
and
<a href='/asp/frms'>Forums</a>.
<p />
The data owned by "public" is viewable by everyone.


