<p />
Signup successful! Go check your e-mail for instructions!!
<p />

It might be in your spam folder.
<p />

If you dont see the message, register using an address from
<p />
<a target='mail'  href='http://gmail.com'>http://gmail.com</a>
<p />
<a target='mail'  href='http://mail.yahoo.com'>http://mail.yahoo.com</a>
<p />
<a target='mail'  href='http://hotmail.com'>http://hotmail.com</a>

