Use Case 3:
%br/
%br/
It's easy to forget sites which help you remember things.
%br/
How is Tag1Thing.com (T1T) different?
%br/
In short, T1T offers a unique set of features.
%br/
%br/
The strongest feature leverages the distributed nature of the internet.
%br/
Other memory-aid sites want you to put all your Memory-Things in 1 place.
%br/
%br/
%br/
Facebook is an example of this type of behavior.
%br/
If all your Memory-things are inside Facebook, that certainly makes them easier to find.
%br/
But then you have a single point of data loss connected to your life.
%br/
What happens if Facebook shuts-down your account?
%br/
What happens if the Chinese Govt. breaks into your Facebook account?
%br/
The data you keep in Facebook, is it yours?
%br/
%br/
Some urban-legends state that the Internet was conceived of as a communication system resistant to nuclear attack.
%br/
True or not, the Internet is obviously useful for storing distributed data.
%br/
And the Internet has no single point of failure.
%br/
T1T helps you track your data (and data owned by others) as it is distributed across the Internet.
%br/
%br/
As T1T grows, it becomes more useful to you.
%br/
%br/
Do you have a videos of your 10th, 20th, 30th birthdays?
%br/
Put copies in the Google cloud and other copies in the Microsoft cloud.  Put them in the Amazon cloud also.
%br/
Then use T1T to keep track of them.
%br/
%br/
If Microsoft goes down, you still have 2 other sets of copies.
%br/
%br/
But, what about T1T?  What if that goes down?
%br/
On one level T1T is just a simple index.
%br/
T1T allows you to download all of your T1T data into a spreadsheet on your laptop.
%br/
So, with that spreadsheet you can track all your data.
%br/
And the spreadsheet will not be large.  T1T does not store actual data.
%br/
If you are worried about the disk drive in your laptop, e-mail the spreadsheet to yourself.
%br/
%br/
Also, T1T allows you to upload your spreadsheet into a second T1T account.
%br/
This might appeal to you if you worry someone might hack into your first account.
%br/
Create 10 accounts if that makes you feel safer, that is fine with us.
%br/
%br/
Can you do that with Facebook?  Do they want you to?  Would it be easy?
%br/
%br/
So, T1T helps you remember things in a way which leverages the distributed nature of the Net.
%br/
%br/
