Use Case 1:
%br/
Currently all data in T1T is public.
%br/
%br/
IF YOU HAVE PRIVATE DATA, DO NOT PUT IT IN THIS SITE.
%br/
%br/
It's like Twitter and YouTube, sites not suitable for private data.
%br/
%br/
Eventually, T1T will offer a subscription based service which allows you to mark a Thing as private.
%br/
On the other hand, if you want publicity, T1T is well suited for giving you publicity.
%br/
%br/
Every time a Thing gets created, a message is sent to the planet via Twitter.
%br/
%br/
The tweet will contain some information about the Thing and it will contain a short-URL-link to the Thing.
%br/
%br/
If you want to leverage this even more, run over to your Twitter account and re-tweet those Things you really want to publicize.
%br/
%br/
Start by clicking on this link here ->
=link_to("Tag 1 Thing",:controller => "thngs",:action => "new")
