Use Case 2:
%br/
%br/
T1T can help you communicate with others on the Internet.
%br/
%br/
Any Thing you create inside of T1T can be commented upon.
%br/
%br/
You could create a Thing called: 
%br/
"My Decision To Get A Haircut"
%br/
T1T then would give you the ability to create a short-URL for this Thing.
%br/
Perhaps:
%br/
http://T1T.us/hair
%br/
Then you press a button and a tweet goes out to the planet.
%br/
The tweet has some text about your new Thing and the tweet contains the URL: http://T1T.us/hair
%br/
%br/
After that, people will come and communicate with you about the Thing:
%br/
"My Decision To Get A Haircut"
%br/
%br/
So, this connection to Twitter and the ability to comment on any Thing is a 2nd dimension to T1T.
%br/
It all revolves around communication which is another core concept behind the Internet in general.
%br/
