%h1 About
#accordion_about
  %h3
    %a{:href => "#"}This site is a publicity machine
  #usecase1
    =render :partial => "usecase1"
  %h3
    %a{:href => "#"}This site is a communication device
  #usecase2
    =render :partial => "usecase2"
  %h3
    %a{:href => "#"}This site helps you remember Things
  #usecase3
    =render :partial => "usecase3"
