<%= error_messages_for 'rpt' %>

<!--[form:rpt]-->
<p><label for="rpt_name">Name</label><br/>
<%= text_field 'rpt', 'name'  %></p>

<p><label for="rpt_uurl">Uurl</label><br/>
<%= text_field 'rpt', 'uurl'  %></p>
<!--[eoform:rpt]-->

