<div title="<%= title_helper %>" class="memo">
  <%= head_helper :notice => false, :message => false %>

  <p>You are now logged out of the system...</p>

  <%= link_helper 'logout_login', :action => 'login' %>
</div>

