%h1 Register
This site depends on Yahoo.com to register you and allow you to login.
%br/
%br/
=link_to("Why Yahoo?", :why)
%br/
%br/
If you are worried that we are trying to phish your Yahoo.com acccount information,
%br/
then register a NEW Yahoo account that you don't care about.
%br/
%br/
=link_to("Login Via Yahoo", :login)
%br/
