=link_to "Owners", :controller => "usrs", :action => "index"
\-> Things <- 
=link_to "Tags", :controller => "tags", :action => "index"
%h1 Browse Things of Owner
=@usr.usrnm
Owns
=@usr.thngs.size
Things
%br/
%br/
=render :partial => "layouts/thngs"


