%h1 Why Register/Login Via Yahoo
This site depends on Yahoo.com to register you and allow you to login.
%br/
%br/
If you are worried that we are trying to phish your Yahoo.com acccount information,
%br/
then register a NEW Yahoo account that you don't care about.
%br/
%br/
It is very easy to get a new Yahoo account with an assumed name.
%br/
%br/
We depend on Yahoo for registration and login because we want to avoid storing personal information about you.
%br/
%br/
We don't want to know your last name, your e-mail address, or your password(s).
%br/
%br/
Since we depend on Yahoo for registration and login, that means we do not need to store your password.
%br/
%br/
Also we trust Yahoo.
%br/
%br/
Yahoo has been storing personal information and passwords for many years now.
%br/
%br/
Yahoo invests heavily in people and technology to keep that data both private and secure.
%br/
%br/
=link_to("Login Via Yahoo", :login)
%br/
%br/
