.DS_Store
public/photos/*
tmp/attachment_fu/*
vendor/gems/hpricot-0.8.1/ext/fast_xs/fast_xs.bundle
vendor/gems/hpricot-0.8.1/ext/fast_xs/fast_xs.o
vendor/gems/hpricot-0.8.1/ext/hpricot_scan/conftest.dSYM/Contents/Info.plist
vendor/gems/hpricot-0.8.1/ext/hpricot_scan/conftest.dSYM/Contents/Resources/DWARF/conftest
vendor/gems/hpricot-0.8.1/ext/hpricot_scan/hpricot_css.o
vendor/gems/hpricot-0.8.1/ext/hpricot_scan/hpricot_scan.bundle
vendor/gems/hpricot-0.8.1/ext/hpricot_scan/hpricot_scan.o
vendor/gems/rmagick-2.12.2/ext/RMagick/RMagick2.bundle
vendor/gems/rmagick-2.12.2/ext/RMagick/rmagick.o
vendor/gems/rmagick-2.12.2/ext/RMagick/rmdraw.o
vendor/gems/rmagick-2.12.2/ext/RMagick/rmenum.o
vendor/gems/rmagick-2.12.2/ext/RMagick/rmfill.o
vendor/gems/rmagick-2.12.2/ext/RMagick/rmilist.o
vendor/gems/rmagick-2.12.2/ext/RMagick/rmimage.o
vendor/gems/rmagick-2.12.2/ext/RMagick/rminfo.o
vendor/gems/rmagick-2.12.2/ext/RMagick/rmmain.o
vendor/gems/rmagick-2.12.2/ext/RMagick/rmmontage.o
vendor/gems/rmagick-2.12.2/ext/RMagick/rmpixel.o
vendor/gems/rmagick-2.12.2/ext/RMagick/rmstruct.o
vendor/gems/rmagick-2.12.2/ext/RMagick/rmutil.o
vendor/gems/rmagick-2.12.2/lib/RMagick2.bundle
vendor/gems/hpricot-0.8.1/ext/fast_xs/Makefile
vendor/gems/hpricot-0.8.1/ext/fast_xs/mkmf.log
vendor/gems/hpricot-0.8.1/ext/hpricot_scan/Makefile
vendor/gems/hpricot-0.8.1/ext/hpricot_scan/mkmf.log
vendor/gems/rmagick-2.12.2/ext/RMagick/Makefile
vendor/gems/rmagick-2.12.2/ext/RMagick/extconf.h
vendor/gems/rmagick-2.12.2/ext/RMagick/mkmf.log
vendor/gems/rmagick-2.12.2/lib/RMagick2.bundle
vendor/gems/hpricot-0.8.1/ext/fast_xs/fast_xs.so
vendor/gems/hpricot-0.8.1/ext/hpricot_scan/hpricot_scan.so
vendor/gems/hpricot-0.8.1/lib/fast_xs.so
vendor/gems/hpricot-0.8.1/lib/hpricot_scan.so
vendor/gems/rmagick-2.12.2/ext/RMagick/RMagick2.so
vendor/gems/rmagick-2.12.2/lib/RMagick2.so
vendor/gems/hpricot-0.8.1/ext/fast_xs/Makefile
vendor/gems/hpricot-0.8.1/ext/fast_xs/mkmf.log
vendor/gems/hpricot-0.8.1/ext/hpricot_scan/Makefile
vendor/gems/hpricot-0.8.1/ext/hpricot_scan/mkmf.log
vendor/gems/rmagick-2.12.2/ext/RMagick/Makefile
vendor/gems/rmagick-2.12.2/ext/RMagick/extconf.h
vendor/gems/rmagick-2.12.2/ext/RMagick/mkmf.log
log/production.log
log/development.log
db/c1cme2_mysqldump2009*
tmp/*
