%h3 Disclaimer!
%hr
%p Welcome to http://hpricot.com.
%p I wrote this site to teach you Hpricot, Ruby, and some Rails.
%p The code you see here is unsuitable for any other purpose.
%p The code here is released under the same terms and conditions as Ruby.
%p Dan Bikle
%p bikle@bikle.com


