%h3 Why Learn/Use Hpricot?
%hr
Hpricot is useful for the following situations:
%ul
  %li
    Automated testing that a given URL is sending expected HTML.
    %br Rails offers great testing functionality, but what if you need to setup testing of a site not on Rails?
    %br A simple script demonstrating this idea:
    %br <a target="wh" href="http://vemod.net/code/hpricot_goodies/hpricot_text_gsub.rb">http://vemod.net/code/hpricot_goodies/hpricot_text_gsub.rb</a>
    %br <a target="wh" href="/hpricot_text_gsub.rb.html">/hpricot_text_gsub.rb</a>
    %p
  %li
    Automated or Manual "scraping" of websites.
    %br Demo: <a target="e4" href="http://edgar411.com">http://edgar411.com</a>
    %p
  %li
    Hpricot could be glue to stitch together HTML from a set of application servers and present it to the end user as one website.
    %br This might be useful if you have some old PHP, JSP, or legacy code which you do not want to rewrite into Rails.
    %br Your shiny new Rails site could then serve up a mixture of new and legacy HTML/data.
    %p
  %li Hpricot plays well with XML.  It can act as a feature rich XML processor.


