- if category
  %h3= category.name
  %p= category.tips
- else
  %h3 Short-URL-Blog-Post?
  %p
    %em
      Write a Short-URL-Blog-Post here and paste the URL into twitter.
      %br/
      %br/
      If you register, activate, and login, then you can add photos to your posts.
      %br/
      %br/
      If you post anonymously, the post will disappear after a day or 2.



