<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%= javascript_include_tag :defaults %>
  <%= active_scaffold_includes %>
  <%= stylesheet_link_tag "application" %>
  <title>ForumGrouper.com</title>
</head>
<body>
<table id="t2" width="100%" border="0" > <!-- t2 -->
<tr id="t2r2"><!-- t2r2 -->
<td id="t2r2c2"  valign="top"><%= render(:partial => "layouts/t2r2c2_80") %></td><!-- t2r2c2 -->
<!-- main content--><td id="t2r2c4"  valign="top"><%= render(:partial => "layouts/t2r2c4_80") %></td><!-- t2r2c4 -->
<td id="t2r2c6"  valign="top"><%= render(:partial => "layouts/t2r2c6") %></td><!-- t2r2c6 -->
</tr> <!-- t2r2 end -->
</table> <!-- t2 end -->
</body>
</html>
